body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #dce1e3;
    color: #626262;
    font-family: 'Roboto', sans-serif;
}

.card-expanded {

    height: 48px;
    background-color: white;
    padding: 8px;

}
