<style>

    html, body, .ng-scope {

        height: 100%;
        width: 100%;
        margin: 0;
    }

    body {

        background-color: #b57b53;
        color: white;

    }

</style>

<div style="display:flex;flex-direction:column;justify-content:center;text-align:center;">

    <div style="font-size:48px;text-align:center;margin:8px;">Coworkers Cafes</div>
    <div style="margin-top:24px;margin-bottom:48px;">Find friends working near you</div>
    <button ng-click="loginWithFacebook()" class="clickable" style="font-size:16px;background-color:white;border:0px;height:48px;margin:16px;" >LOGIN WITH FACEBOOK</button>
    <div style="height:48px;"></div>

</div>
